<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="images"></ion-icon> Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Gallery</ion-title>
    </ion-toolbar>
  </ion-header>
<div class="container">
    <div class="box">
        <div class="imgbox">
            <img src="https://scontent.fceb1-1.fna.fbcdn.net/v/t1.0-9/53703476_418980322192801_14964950254485504_o.jpg?_nc_cat=101&ccb=1-3&_nc_sid=174925&_nc_eui2=AeFBM7EiBlrmDeV_ZuGqpODyvIfYlfew9SW8h9iV97D1JYgblkajv924ZprW7RbY2oS4YBVk3M6Wc5Up-aHH3d1P&_nc_ohc=W1I5UvzEq-MAX_FXYgb&_nc_ht=scontent.fceb1-1.fna&oh=8b4bfee304e5bce241ab421527bdfc4e&oe=60769D7F">
        </div>
    </div>
    <div class="box">
        <div class="imgbox">
            <img src="https://scontent.fceb1-1.fna.fbcdn.net/v/t1.0-9/78454274_593426104748221_1229889307121025024_o.jpg?_nc_cat=105&ccb=1-3&_nc_sid=174925&_nc_eui2=AeHvMiwUQxkQyZ6H5viQQUVQBPnIbB2M5QsE-chsHYzlC3sjuJa0oKXuiMccZzU47S2ZdxY0ylJbIMDwzLqwr4nR&_nc_ohc=T9mbGt-iohoAX8QJyYZ&_nc_ht=scontent.fceb1-1.fna&oh=2c49d4b93c83dac1a75718314024a7e8&oe=60735D1F">
        </div>
    </div>
    <div class="box">
        <div class="imgbox">
            <img src="https://scontent.fceb1-3.fna.fbcdn.net/v/t1.0-9/106294458_751640072260156_1847831005488124313_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=174925&_nc_eui2=AeF8qoEO_Kxqc7-3H0OaJultiwPBYczlzzSLA8FhzOXPNHJdBebKE0A6ALldCdCl9r5BQFG5agdiyYOpk-WDpY-5&_nc_ohc=LRp9pbNi9hkAX9BSKXx&_nc_ht=scontent.fceb1-3.fna&oh=83ba450434f8064e39ea2a8efcc84d06&oe=60757C49">
        </div>
    </div>
    <div class="box">
        <div class="imgbox">
            <img src="https://scontent.fceb1-3.fna.fbcdn.net/v/t1.0-9/123364815_852286642195498_8328226944020819858_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=174925&_nc_eui2=AeFVw_i0VlWrS0LhsuzDUhSlqjaJSwBtW9qqNolLAG1b2l2KU9cQSZK5M0f5rajnMVCDjSaKiUzXVMCPe1Kbk7Tx&_nc_ohc=HxO61dUGm3YAX-urwTE&_nc_ht=scontent.fceb1-3.fna&oh=6e76b11a68c85ace9226119697d15710&oe=60743E23">
        </div>
    </div>
    <div class="box">
      <div class="imgbox">
          <img src="https://scontent.fceb1-2.fna.fbcdn.net/v/t1.0-9/61643296_463323611091805_5941896617597599744_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=174925&_nc_eui2=AeFpXBMvmMCvNAzE7ehYTBoAKDbFmup6KB0oNsWa6nooHZtw9RmpxD3bm2P8VcGtdO32W2AYhvKJwPSO5Mughapf&_nc_ohc=ekBybliRr5UAX8h0lEX&_nc_ht=scontent.fceb1-2.fna&oh=953fc3d6090d1b34f731544cbbcad5e8&oe=6076BB22">
      </div>
  </div>
  <div class="box">
    <div class="imgbox">
        <img src="https://img.wattpad.com/cc4f19f0631e8432ea2f2ad6555783dd0f2a3371/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f7a574e784d3033677a5f575449673d3d2d3333323330313737352e313462313332623861633863346464383934343239383132373330342e6a7067?s=fit&w=720&h=720">
    </div>
</div>
<div class="box">
  <div class="imgbox">
      <img src="https://i.pinimg.com/originals/7d/bd/91/7dbd914731076502f683bd3183f3edc8.jpg">
  </div>
</div>
<div class="box">
  <div class="imgbox">
      <img src="https://instagram.flwo4-2.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/c0.180.1440.1440a/s640x640/140774982_1296169064072163_1692280406409234327_n.jpg?_nc_ht=instagram.flwo4-2.fna.fbcdn.net&_nc_cat=103&_nc_ohc=tVEPKar_UoEAX8L-AbB&tp=1&oh=35753827059be753d7b0b3001b06659c&oe=6052A10F">
  </div>
</div>
<div class="box">
  <div class="imgbox">
      <img src="https://pbs.twimg.com/profile_images/675539746790244352/JvIfnsgN_400x400.jpg">
  </div>
</div>
<div class="box">
  <div class="imgbox">
      <img src="https://i.redd.it/rid50ywegf831.jpg">
  </div>
</div>
<div class="box">
  <div class="imgbox">
      <img src="https://cdn1.i-scmp.com/sites/default/files/styles/768x768/public/images/methode/2019/01/16/07a7ab2a-17ce-11e9-8ff8-c80f5203e5c9_image_hires_160333.jpg?itok=SYxUEfvx&v=1547625814">
  </div>
</div>
<div class="box">
  <div class="imgbox">
      <img src="https://cdn.i-scmp.com/sites/default/files/styles/768x768/public/d8/images/methode/2020/01/03/b2e584e8-2df4-11ea-8334-1a17c6a14ef4_image_hires_152432.jpg?itok=4FQSUdpP&v=1578036278">
  </div>
</div>
<div class="box">
  <div class="imgbox">
      <img src="https://scontent.xx.fbcdn.net/v/t1.15752-0/s600x600/161713008_196563915174119_3453011946506344316_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=f79d6e&_nc_eui2=AeEi71QQZgyo-jc8xq3bhvP7r8yva1EEpcCvzK9rUQSlwCBCHNL4oJL92QqGxwfjGvfmXeS547wxqhTJYP-KsL0d&_nc_ohc=01WqeINwQ_EAX_xnCl-&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&tp=7&oh=0220a7ca5aae6bda32835210f4f19bf7&oe=60749037">
  </div>
</div>
<div class="box">
  <div class="imgbox">
      <img src="https://scontent.xx.fbcdn.net/v/t1.15752-0/s600x600/154583296_449420006475102_8564292103092791052_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=f79d6e&_nc_eui2=AeErwQhJTwQzdSdYtxUEBCfGJhT7L58QiuwmFPsvnxCK7E2y525pnxHF7rgotzKo8CTJbYHjlXRYj_Hb7iyWaS7C&_nc_ohc=fjRexVVL4-UAX_cZY-a&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&tp=7&oh=8f3acdc5626c408021cacf48485f8c25&oe=6074B1A2">
  </div>
</div>
<div class="box">
  <div class="imgbox">
      <img src="https://scontent.xx.fbcdn.net/v/t1.15752-0/s600x600/155214164_1133865067071303_7812557723818122147_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=f79d6e&_nc_eui2=AeGQzG-5YxdfTHfOYlrPmYirbrxevPnkB8xuvF68-eQHzOvdvr2P__cFoJKspOwBF_tIGQfwqRM7C5mY9YA3W-Dk&_nc_ohc=CjWjDcrKbJsAX-imH84&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&tp=7&oh=059434c852a81fcb485ae8682e55891e&oe=60776282">
  </div>
</div>
<div class="box">
  <div class="imgbox">
      <img src="https://z-p3-scontent.fdvo1-1.fna.fbcdn.net/v/t1.15752-9/161261298_232111075280850_7157891387140153754_n.jpg?_nc_cat=101&ccb=1-3&_nc_sid=ae9488&_nc_eui2=AeHTfv5V0R4N2hVxilvm8GtGVwUEI0aL8ZdXBQQjRovxlwbmaNO71YXQ_NJWF4uMDrAo7xqREkrfthF_SprsN2Yp&_nc_ohc=ZmIQeabuodYAX_lmW8K&_nc_ht=z-p3-scontent.fdvo1-1.fna&oh=075b548bf4dca1897d0616801eb3e049&oe=6076C529">
  </div>
</div>
</div>
</ion-content>
