<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="call"></ion-icon> Contacts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contacts</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-toolbar>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="card">
    <ion-avatar><br>
      <img class="imahe" src="https://scontent.fdvo1-1.fna.fbcdn.net/v/t1.0-9/106294458_751640072260156_1847831005488124313_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=174925&_nc_eui2=AeF8qoEO_Kxqc7-3H0OaJultiwPBYczlzzSLA8FhzOXPNHJdBebKE0A6ALldCdCl9r5BQFG5agdiyYOpk-WDpY-5&_nc_ohc=LRp9pbNi9hkAX-8buvB&_nc_ht=scontent.fdvo1-1.fna&oh=ed26b6feb68bd0bc5e20e12db6ae6e6e&oe=60757C49">
    </ion-avatar><br><br>
    <ion-card-title>Noel Matiga </ion-card-title>
    <ion-chip>
      <ion-avatar>
        <img src="https://p1.hiclipart.com/preview/235/206/512/android-lolipop-icons-facebook-png-clipart.jpg">
      </ion-avatar><br>
      <ion-label>Leon M Nadilo</ion-label>
    </ion-chip>
    <ion-chip>
      <ion-avatar>
        <img src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c521.png">
      </ion-avatar><br>
      <ion-label>@iamleon</ion-label>
    </ion-chip>
    <ion-chip>
      <ion-avatar>
        <img src="https://image.pngaaa.com/785/142785-middle.png">
      </ion-avatar><br>
      <ion-label>noelm@gmail.com</ion-label>
    </ion-chip>
  </div>
  <div class="card">
    <ion-avatar><br>
      <img class="imahe" src="https://scontent.fdvo1-1.fna.fbcdn.net/v/t1.0-9/129253886_100836968558917_2247053243904164116_o.jpg?_nc_cat=107&ccb=1-3&_nc_sid=174925&_nc_eui2=AeE7O2JLckWcaMKDpdJZHtJh3t20Z8RBk_Te3bRnxEGT9E2GT9PTd6cq09mD83dk3Y8OObLLGv-0-cAHkSKbN7c9&_nc_ohc=qYalSU8VvJEAX8bmfXX&_nc_ht=scontent.fdvo1-1.fna&oh=ba7b2190bb0b797df5b9dc02fac7b90d&oe=607570D8">
    </ion-avatar><br><br>
    <ion-card-title>Rena Candare </ion-card-title>
    <ion-chip>
      <ion-avatar>
        <img src="https://p1.hiclipart.com/preview/235/206/512/android-lolipop-icons-facebook-png-clipart.jpg">
      </ion-avatar><br>
      <ion-label>Rena Candare</ion-label>
    </ion-chip>
    <ion-chip>
      <ion-avatar>
        <img src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c521.png">
      </ion-avatar><br>
      <ion-label>@irena</ion-label>
    </ion-chip>
    <ion-chip>
      <ion-avatar>
        <img src="https://image.pngaaa.com/785/142785-middle.png">
      </ion-avatar><br>
      <ion-label>rena02@gmail.com</ion-label>
    </ion-chip>
  </div>
  <div class="card">
    <ion-avatar><br>
      <img class="imahe" src="https://scontent.fdvo1-1.fna.fbcdn.net/v/t1.0-1/c0.0.200.200a/p200x200/19990207_132600990663286_2750249753994164277_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=7206a8&_nc_eui2=AeF7695us7i4Kkh6XE3Cu6bNH0mYDQDOETQfSZgNAM4RNN9BhdUgPQ3SnQcMrSDrVnT-JRwUTCiVIogbC_Biu_SR&_nc_ohc=_KPtOemJ85QAX8iVdkR&_nc_oc=AQnSwevHxcBngDKjFNOqs69iLAxGMWWi03erGQaoyXikqmZ0OArTqPB44ZclLU1bCrw&_nc_ht=scontent.fdvo1-1.fna&tp=27&oh=44ae9987a90f036f2d3b5905ac1b43fd&oe=60755E3C">
    </ion-avatar><br><br>
    <ion-card-title>Ester Olidan </ion-card-title>
    <ion-chip>
      <ion-avatar>
        <img src="https://p1.hiclipart.com/preview/235/206/512/android-lolipop-icons-facebook-png-clipart.jpg">
      </ion-avatar><br>
      <ion-label>Ester Olidan</ion-label>
    </ion-chip>
    <ion-chip>
      <ion-avatar>
        <img src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c521.png">
      </ion-avatar><br>
      <ion-label>@ester</ion-label>
    </ion-chip>
    <ion-chip>
      <ion-avatar>
        <img src="https://image.pngaaa.com/785/142785-middle.png">
      </ion-avatar><br>
      <ion-label>ester50@gmail.com</ion-label>
    </ion-chip>
  </div>
  </ion-toolbar>
</ion-content>
